body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Consolas;
}

header {
    color: white;
    text-align: center;
}

section {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    background-color: white;
    width: 500px;
    padding: 15px;
    margin: auto;
}

div {
    padding: 8px;
    text-align: center;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 250px;
}